.container{
    width: 100%;
    height: 100vh;
    background: #01F54F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image{
    align-items: baseline;
}

header{
    text-align: center;
    color: white;
    background-color: green;
}

.game{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
}

.left,
.right {
  padding: 20px;
  width: 50%;
  border: solid;
}